<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p><%= @trainer.name if @trainer.name %> owns: </p>
<% for pokemon in Pokemon.all %>
  <% if pokemon.trainer_id == @trainer.id %>
    <% if pokemon.health > 0 %>
	  <%= pokemon.name + ", level: " + pokemon.level.to_s + ", health: " + pokemon.health.to_s%>
	  <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>
	  <br>
	<% end %>
	<% if pokemon.health <= 0 %>
		<% pokemon.destroy %>
	<% end %>
  <% end %>
<% end %>

<% if @trainer.id == current_trainer.id %>
	<%= button_to "Create new pokemon", new_path(), :class => "button medium", :method => :get %>
<% end %>